@model BookCategoryViewModel
    @{
    ViewData["Title"] = "Edit";
    }
<form asp-action="Edit" method="post" class="mt-3 ms-5 py-5">
         <h2 class="text-yellow my-5">Update  @Model.Name Category</h2>
        <input type="hidden" asp-for="Id"/>
        <div class="form-group mb-3">
            <input class="form-control  w-50" asp-for="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group form-group-textarea mb-3">
            <textarea class="form-control w-50" asp-for="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="text-left form-group">
           <button class="btn btn-primary btn-lg text-uppercase mt-3" type="submit">Update</button>
        </div>
</form>

